{% macro render() %}
{%- if page.comment !== false %}
    <div class="wrap" id="comments">
      {%- if theme.waline.serverURL %}
        <div id="waline-container"></div>
      {% endif %}
    </div>
{%- endif %}
{% endmacro %}
